/* Основные стили */
body {
  font-family: 'Montserrat', sans-serif;
}

/* Секция #title */
#title {
  background-color: #ff3c68;
  text-align: center; 
  color: white; 
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 3rem;
  line-height: 1.5;
  color: #fff; 
}

/* Navbar стили */
.navbar {
     color: white; 
  padding-bottom: 4.5rem;
  padding-top: 3%; 
}

.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
  font-size: 2.2rem;
}

/* Кнопки загрузки */
.download-button {
  margin: 5% 3% 0 5%;
}

/* Изображение в title */
.title-image {
  width: 60%;
  transform: rotate(25deg);
}

/* Секция #features */
#features {
  padding-top: 7%;
  padding-bottom: 7%;
}

#features .fas {
  color: #ff3c68;
}

/* Секция #testimonials */
#testimonials {
  background-color: #ff3c68;
  padding-top: 7%;
  padding-bottom: 7%; 
}

#testimonials img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin-top: 20px;
}

/* Секция #press */
#press {
  background-color: #ff3c68;
  padding-bottom: 7%;
  padding-top: 7%;
}

#press img {
  width: 15%;
  margin: 20px 30px;
}

/* Секция #pricing */
#pricing {
  padding-top: 7%;
  padding-bottom: 5%;
}

/* Секция #cta */
#cta {
  background-color: #675c5e;
  padding-bottom: 5%;
  padding-top: 5%;
  margin-top: 20px;
}

#footer{
  padding-top: 5%;

}